*{
    box-sizing: border-box;
}
body{
    transition: 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.body{
    position: absolute;
    display: flex;
}
.main{
    width: 200px;
    height: 500px;
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateX(-200px)
}
button{
    width: 100px;
    height: 50px;
}
a{
    text-decoration: none;
    color: blue;
}
.main div{
    padding: 40px;
}

.active{
    position: fixed;
    top: 0;
    left:0;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
