*{
    box-sizing: border-box;
}
ul,nav:first-child a{
    margin: auto;
}
.col-md-12{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url(bt.jpg)
}
h1{
    font-size: 50px;
}
.gotham{
    border-bottom: 1px solid white;
}
nav li :hover {
    transition: 1s;
    border-bottom: 1px solid white;
}
.scrow span{
    font-size: 40px;
    border-bottom: 4px solid #007bff;
}