*{
    box-sizing: border-box;
}
.fixed-top{
    transition: 1s;
}
ul,nav:first-child a{
    margin: auto;
}
.header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url(bt.jpg)
}
h1{
    font-size: 50px;
}
.gotham{
    border-bottom: 1px solid white;
}
nav li :hover {
    transition: 1s;
    border-bottom: 1px solid white;
}
.abt{
    font-size: 40px;
    border-bottom: 4px solid #007bff;
}
.line{
    height: 5px;
    background: #007bff;
}
.circ{
    display: inline-block;
    border-radius: 100%;
    border:10px solid #007bff;
    padding: 10px;
    margin: auto;
    font-size: 45px;
}

.circ :hover{ 
    background-color: #007bff;
    color: white !important;
    box-shadow: 0 0 0 3px #cde1f8;
    border-radius:100%;
 }
 .circe{
    display: inline-block;
    border-radius: 100%;
    border:10px solid white;
    padding: 10px;
    margin: auto;
}
.alf{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.card{
    border:none;
}
.uphead{
    display: none;
position: fixed;
bottom: 0px;
right: 0px;
font-size: 40px;
z-index: 1;
}
.service{
    position: relative;
    background-image: url(bat.jpg); 
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.layer{
    background-color: #0078ff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.log{
    font-size: 50px;
    color: white;
}
.ser{
    background: transparent; 
}
.ab{
    text-align: center;
}
.abil{
    border: 1px solid #007bff;
    border-radius: 100%;
    color: #007bff;
    padding: 20px;
}

.hov {
    position: relative;
    overflow: hidden;
}
.hov:hover img{
    transition: 1s;
    transform: scale(1.5)
}
.carousel-content {
    background: transparent;
    position: absolute;
    top: 20%;
    left: 36%;
    z-index: 20;
    color: white;
  }
  .footer{
      background-image: url(cart.jpg);
      height: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  .liner{
      height: 5px;
      width: 120px;
      background: #007bff;
  }
  .social{
      width:300px;
      display: flex;
      justify-content: space-between;
  }
  .social li{
      display: inline-block;
  }
  .socials i{
      padding: 15px;
  }
  .soc :hover{ 
   background-color: #007bff;
   color: white !important;
   box-shadow: 0 0 0 3px #cde1f8;
   border-radius:100%;
   font-size: 40px;
  }
  .soc{
      border: 3px solid #007bff;
      border-radius: 100%; 
      font-size: 40px;
  }
  