*{
    box-sizing: border-box;
}
ul,nav:first-child a{
    margin: auto;
}
.col-md-12{
    background-image: url(bt.jpg)
}
h1{
    font-size: 50px;
}
.gotham{
    border-bottom: 1px solid white;
}
nav li :hover {
    transition: 1s;
    border-bottom: 1px solid white;
}