*{
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 100px;
    background:#2c3e50!important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.menu ul li{
display: inline;
color: #fff;
padding: 12px;
}
body{
    position: relative;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin: 0;
    padding: 0;
}
.words{
    margin-top: 30px;
    font-size: 25px;
}
.line{
    width: 1px;
    height: 1px;
}
.container{
    background: #18bc9c!important;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 i{
    color: #fff;
}
.line{
    width: 50px;
    height: 3px;
    background: white;
    margin-top: 7px;
}
.liner{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    color: white;
    font-size: 50px
}
h3{
    color:white
}
.img{
    margin-top:10px;
}
.portfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.portfolio h2{
    font-size: 50px;
   color: #2c3e50!important
}
.lin{
    width: 35px;
    height: 2px;
    background: #2c3e50!important;
    margin-top: 7px;
}
.li{
    width: 100%;
    display: flex;
    justify-content: center;
}
.li i{
    color: #2c3e50!important
}
.photo{
position: relative;
padding: 5px;
}
.picture{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.photo img {
    width: 400px;
}
.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 288.88px;
    background-color: rgba(24,188,156,.9);
    margin: 5px;
  }
  .logo i{
    margin-left: 176px;
    margin-top: 125px;
    font-size: 50px;
  }
  .photo:hover .overlay{
      opacity: 0.8;
  }
  .main{
      width:100%;
      height: 600px;
      background-color: #18bc9c!important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
  .main b{
      color: white;
      font-size: 60px;
  }
  .p{
      width: 45%;
      display:flex;
      flex-direction: row;
      font-size: 25px;
  }
  .p p{
      color:white
  }
  button{
      border: 1px solid snow;
    background-color: #18bc9c;
    width: 150px;
    height: 50px;
    color: white;
  }
  .button:hover{
      background-color: white;
      border: none;
      color: black
  }
  .button:hover i{
      color:black
  }
.conMain{
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around

}
.conMain p{
    color:#2c3e50;
    font-size: 50px
}
.input input{
    font-size: 20px;
    height: 40px;
    background: transparent;
    border-top: transparent ;
    border-left: transparent;
    border-right: transparent ;
    border-bottom: 1px solid gray ;
    outline: none;
}
.input button{
    margin-top: 10px;
    border:2px solid;
    border-radius: 10%;
    width: 100px;
    height: 45px;
}